* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  // height: 100%;
  // margin: 0;
  // padding: 0;
  min-width: 320px;
  // height: 100%;
  margin: 0 auto;
  font-family: $font;
  font-size: 14px;
  font-weight: $regular;
  color: $first-color;
  overflow-x: hidden;
  word-wrap: break-word;
}

main {
  flex: 1 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  outline: 0;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
