/* Colors */
$first-color: #111111;
$second-color: #ffffff;

/* Fonts */
$font: "Roboto", "Arial", sans-serif;
$regular: 400;
$bold: 700;

/* Media */

$media-lg: 1440px;
$media-md: 1024px;
$media-sm: 768px;
$media-xs: 480px;
